.svg-inline--fa.contacts-icon {
  color:navy;
  width: 5em;
  height: 5em;
  vertical-align: text-center;
}

body {
  background-image: url("Background.jpeg");
  background-repeat:no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}
