body{background-color: #e6f7ff;
  color:#555;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:16px;
  line-height: 1.6em;
  margin:0px;
  padding-bottom: 2.5rem;
  position: relative;
  min-height: 100vh;
  
}

h2{
  color: blue;
  font-size: 4rem;

}
h3{
  color: blue;
  font-size: 3rem;
}
nav a {
  color: white;
  text-decoration:none;
}



