body {
  background-color: #e6f7ff;
  color: #555;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0px;
  padding-bottom: 2.5rem;
  position: relative;
  min-height: 100vh;
  background-image: url("Resources/Photos/Background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: blue;
  font-size: 4rem;
}
h3 {
  color: blue;
  font-size: 3rem;
}

p {
  background-image: url("https://media.istockphoto.com/photos/white-marble-texture-background-with-detailed-structure-high-bright-picture-id1157329161?b=1&k=6&m=1157329161&s=170667a&w=0&h=KnMNNRjKbC7dQ9tJsxtD5V7UcW7YxWUGzeRjz5U5R2E=");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

.svg-inline--fa.contacts-icon {
  color: navy;
  width: 5em;
  height: 5em;
  vertical-align: text-center;
}

footer {
  color: blue;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  background-color: white;
}
